@media only screen and (max-device-width:4000px){
#front_autos{
    border-radius: 12px ;
    background-image: url(../midias_pages/carros.png);
    background-repeat: no-repeat;
    background-size: 25vw ;
    background-position: center;
    position: absolute;
    width: 110%;
    height: 100%;
    backface-visibility: hidden;
}
}
@media only screen and (max-device-width:500px){
    #front_autos{
        border-radius: 12px ;
        background-image: url(../midias_pages/carros.png);
        background-repeat: no-repeat;
        background-size: 80vw ;
        background-position: center;
        position: absolute;
        width: 110%;
        height: 100%;
        backface-visibility: hidden;
    }
    }
