
.front{
    border-radius: 12px ;
    background-image: url(../midias_pages/imoveis.png);
    background-repeat: no-repeat;
    background-size: 25vw ;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
