@media only screen and (max-device-width:4000px){
#pesados{
    border-radius: 12px ;
    background-image: url(../midias_pages/1.png);
    background-repeat: no-repeat;
    background-size: 20vw ;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
}
@media only screen and (max-device-width:500px){
    #pesados{
        border-radius: 12px ;
        background-image: url(../midias_pages/1.png);
        background-repeat: no-repeat;
        background-size: 75vw ;
        background-position: 8vw;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
}